main {
  text-align: center;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: auto;
}

input,
select,
button {
  padding: 8px;
  font-size: 16px;
}
